@use "cleanslate";

.uistyle {
    @extend .cleanslate;
    //all: initial;
    &,*{
        font-family: Arial, Helvetica, sans-serif !important;
        box-sizing: border-box !important;
        font-size: 14px;
    }
    

    
    font-size: 14px;
    line-height: 1.2em;
    padding: 4px;    
    width: initial;   
    background-color: #C4F7FA;    
    color: #00A1AB;
    
    &.uicontainer{
        padding: 4px 8px;
        margin: 0px !important;
    }
    .one_of_two_panels{
        all: initial;
        box-sizing: border-box;
    }
    label{
        display: inline-block;
        line-height: 24px;
    }



    h5{
        color: #00A1AB;
        margin: 16px 4px 16px 4px;
        font-size: 14px;
        font-weight: bold;
    }

    .formrow , &.formrow {
        padding:6px 12px 6px 12px;
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 1.2em;
        display: flex;
        align-items: center;

        * {
            flex-grow: 1;
            margin-right: 8px;
            width: initial;
        }
        *:last-child{
            margin-right: 0px;
        }

        hr{
            all: initial;
            display:block;
            width:1px;
            height: 18px;
            background:none;
            color: gray;
            border: none;
            flex-grow: 0;
            margin: 0 12px !important;
            border: none;
           border-right: 2px dotted #00A1AB;
           &:after , &:before{
               all: unset !important;
               content: none !important;
           }
           
        }

        input[type=button],
        input[type=checkbox],
        input[type=radio],
        select,
        option,
        hr,
        label,
        label:last-child,
        label:first-child {
            flex-grow: 0;
        }
        input[type=file]{
            border: none;
            //height: 24px;
        }
    }
    select{
        all: initial;
        background-color: transparent;
        position: relative;
        color: black;
        width: initial;
        flex-grow: 0;
        background-color: white;
        padding-right: 24px;
        border: 1px solid rgb(0, 161, 171);
        color: rgb(0, 161, 171);
        border-radius: 2px;
        background-repeat: no-repeat;
        background-position: center right 4px;
        outline: none;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDE2IDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnPjxyZWN0IHdpZHRoPSIxNiIgaGVpZ2h0PSI5IiBmaWxsPSJ3aGl0ZSIvPgo8cGF0aCBkPSJNOCA4TDEuMDcxOCAxLjI1TDE0LjkyODIgMS4yNUw4IDhaIiBmaWxsPSIjMDBBMUFCIi8+CjwvZz4KPC9zdmc+Cg==);
       
       // option{
       //     display:block;
      //      background-color: white;        
       // }
    }
    input[type=radio], input[type=checkbox]{
        background-color: white;
        border: 1px solid  #00A1AB;
        width: 16px;
        height: 16px;
        display: block;
        box-sizing: border-box;
        &:checked{
            &:before{
                content: " ";
                width: 8px;
                height:8px;
                margin:3px;
                display: block;
                background-color:  #00A1AB;
            }

        }
        
    }
    input[type=radio]{
        border-radius: 8px;
        &:checked:before{
            border-radius: 4px;
        }
    }
    select , button , label{
        height: 24px;
    }
    input[type=text]{
        border: 1px solid #00A1AB;
        background-color: white;
        padding: 4px;
    }
    input[type=file]{
        color: #00A1AB;
    }

    input[type=button]{
        outline: none;
        background-color: #00A1AB;
        border: none;
        color: white;
        //height: 24px;
        border-radius: 2px;
        padding: 4px 10px 5px 10px;

    }


}

.block_editor_outer_container{
    .starting_block{
        display: flex;
        //align-items: center;
        font-family: sans-serif;
        &::before , &::after{
            //background-image: url(data:image/svg;base64,PHN2ZyB3aWR0aD0iMzEiIGhlaWdodD0iMzEiIHZpZXdCb3g9IjAgMCAzMSAzMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjMxIiBoZWlnaHQ9IjMxIiBmaWxsPSJ3aGl0ZSIvPgo8bGluZSB5MT0iMTQuNSIgeDI9IjMxIiB5Mj0iMTQuNSIgc3Ryb2tlPSIjMDBBMUFCIi8+Cjwvc3ZnPgo=);

            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAfCAYAAADa3IyoAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAhSURBVHgB7cBBEQAABADBU0z/Ct6CUMHb3IL+iKwepKMFgZ4C+wBoOtYAAAAASUVORK5CYII=);
            //data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfCAYAAAAfrhY5AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAA+SURBVHgB7dXBCQAgEAPBRK7/Inzbo1qDHARkt4F5rvdNoYaCgYODg4P/h5fnUiqzVHBwcHBw8I5KPT1t+QBeyQqH0yXbWAAAAABJRU5ErkJggg==
            
            background-size: auto;
            //background-color: silver;
            background-repeat: repeat-x;
            background-position: 50% 50%;
        }
        &::before{
            content: " ";
            display: block;
            flex-grow: 1;
            border-left: 1px solid #3ED9E3;
        }
        &::after{
            content: " ";
            display: block;
            flex-grow: 1;
            border-right: 1px solid #3ED9E3;
        }
    }
}
