$font: Arial , Helvetica , sans-serif;

$color_pale: #C4F7FA;    
$color_main: #00A1AB;
$color_dark: #277F85;

$ui_corner_radius: 4px;
$ui_font_size: 12px;
$ui_line_height: 14px;
$ui_block_padding: 8px;


