body, html{
  min-height: 100%;
  width: 100%;
}
#container{
  width: 100%;

}

#editor{
  min-width: 450px;
  max-width: 600px;
  width: 50%;
  margin: 100px auto;
 
}

pre{
  background-color: #eaeae3;
  padding: 6px 10px;
  border-radius: 4px;

}

figure{
  padding: 16px;
  margin: 36px 0;  

  &.with_background{
    background: #444;
    color: white;
    img{
      border: 1px solid #eeeeee;
    }
    figcaption{
      width: 50%;
      margin:0 auto;
      text-align: center;
    }
  }

  figcaption{
    font-size: .75em;
  }
  img{
    display:block;
    margin: 0 auto 12px auto;
  }
  &.stretched{
    img{
      width: 100%;
    }
  }
  &.noresize{
    img{
      max-width: 100%;
    }
  }
  &.bordered{
    img{
      border: 4px solid gray;
    }
  }
  &.left{
    float:left;
    margin-right: 48px;
  }
  &.right{
    float:right;
    margin-left: 48px;
  }
  &.left , &.right{
    width:33%;
    padding:0px;
  }

}


