<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>BlEd 2</title>
  </head>
  <body>
  <div id="container">
  <article id="editor">
  <!--editor-->
  </article>
  </div>
  </body>
</html>
